<div class="sidebar-module">
<h4>历史归档</h4>
<ol class="list-unstyled">
    {% assign count = 0 %}
    {% for post in site.posts%}
    {% unless post.next %}
    {% assign count = count | plus: 1 %}
    <li>   
         <a href="{{ site.monthly_archive.path }}{{ post.date | date: "/%Y/%m" }}">{{ post.date | date: "%Y年%m月" }}</a>
         <span class="counter">({{ count }})</span>
    </li>
    {% else %}
    {% capture date %}{{post.date | date: '%Y%m'}}{% endcapture %}
    {% capture ndate %}{{post.next.date | date: '%Y%m'}}{% endcapture %}
    {% if date != ndate%}
    <li>
           <a href="{{ site.monthly_archive.path }}{{ post.date | date: "/%Y/%m" }}">{{ post.date | date: "%Y年%m月" }}</a>
           <span class="counter">({{ count }})</span>
    </li>
    {% else %}
    {% assign count = count | plus: 1 %}
    {% endif %}
    {% endunless %}
    {% endfor %}
</ol>

</div>
